.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    width: 50em;
}

@media screen and (max-width: 756px) {
    .App {
        width: 100%;
    }
}

.App-header {
    border-bottom: 2px solid #e25e29;
    color: #e25e29;
    margin: 0 0 8px 0;
    padding: 0;
}

.App-header h1 {
    margin: 16px 0;
    padding: 0;
}

.App-logo {
    margin-right: 8px;
    vertical-align: middle;
}

.App-main {
    flex: 1;
    overflow: auto;
}

.App-footer {
    border-top: 2px solid #e25e29;
    padding: 16px 0;
    text-align: center;
}
